* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.slide-wrapper {
    position: relative;
    width: 960px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    position: absolute;
    left: 0;
    top: 0;
    /* width: 2610px;  js에서 넓이 잡아줌 */
    transition: left 0.5s ease-out; /*left값이 바뀌는걸 0.5초에 걸쳐서 속도는 끝이 좀 느리게*/
}

.slides li:not(:last-child) {
    float: left;
    margin-right: 30px;
}

.controls {
    text-align: center;
    margin-top: 50px;
}

.controls span {
    background-color: #333;
    color: #fff;
    padding: 10px 30px;
    margin: 0 10px;
}